*.jpg filter=lfs diff=lfs merge=lfs -text

# GitHub Linguist
babynames/* linguist-vendored=false
babynames/babynames.py linguist-vendored=true
logpuzzle/* linguist-vendored=false
logpuzzle/logpuzzle.py linguist-vendored=true
